{% extends "layouts/app.html.twig" %}

{% block title %}:({% endblock %}

{% block main %}
    <p class="text-text text-center">We uhhhhhhh...</p>
    <p class="text-text text-center">...can't find that page.</p>
    <p class="text-text text-center">Error: {{ code }}</p>
{% endblock %}

