{% extends "layouts/app.html.twig" %}

{% block title %}Blog | {{ parent() }}{% endblock %}

{% block main %}

    <p class="text-center text-text">I don't really have much to say at the moment...</p>

    {% include "components/ui/divider.html.twig" %}
{% endblock %}
