#-----------------------------------------------------------------------------------------------------------------------
# kylerossbeasley main .htaccess file.
#
# Assumes the site lives at /var/www/krbeasley.dev during the dev work and lives in side the PUBLIC_HTML folder on
# Hostinger's shared hosting servers.
#-----------------------------------------------------------------------------------------------------------------------

# Every request goes to the index page unless it's an actual file
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
</IfModule>

########################################################################################################################
# SECURITY AND ACCESS CONTROL

# Disallow indexing of directories
Options -Indexes

# Disallow access to .env
<Files .env>
    Order deny,allow
    Deny from all
</Files>

# Disallow direct access to the twig files
<Files *.twig>
    Order allow,deny
    Deny from all
</Files>

# Disallow direct access to the .git files
<Files .gitignore>
    Order allow,deny
    Deny from all
</Files>

# Disallow direct access to the composer files
<Files composer.*>
    Order allow,deny
    Deny from all
</Files>

# 404 all requests made to the these directories
RedirectMatch 404 ^/(node_modules|\.git|config|templates|vendor|app)

########################################################################################################################
# CUSTOM ERROR PAGES

# 404 Page
# ErrorDocument 404 /404.php

# 403 Page
# ErrorDocument 403 /403.php
