{% extends "layouts/app.html.twig" %}

{% block title %}{{ parent() }} | Solutions Engineer{% endblock %}

{% block main %}
    <div class="flex flex-col md:flex-row gap-10 md:gap-20 w-full items-center justify-center px-10">
        <div class="w-full md:w-1/2 flex flex-col items-start justify-center gap-6">
            <p class="text-text text-center md:text-left text-2xl font-black capitalize">
                Web solutions to help your business run smarter.
            </p>

            <p class="text-text text-center md:text-left text-lg md:text-xl">
                Howdy! I'm a full-stack software engineer with a passion for creating and developing
                solutions for a variety of problems.
            </p>

            <div class="flex flex-col-reverse pt-2 md:pt-0 md:flex-row items-center justify-start gap-6">
                <a class="h-fit w-fit" href="https://www.github.com/krbeasley" target="_blank">
                    {% include "components/ui/github-icon.html.twig" with {
                        'class' : 'invert-80 hover:invert-100 duration-100 transition cursor-pointer h-10 w-10'
                    } %}
                </a>
                {% include "components/ui/glass-button.html.twig" with {
                    'text' : "Let's Work Together",
                    'href' : '/hire-me',
                    'frosted' : true,
                } %}
            </div>
        </div>
        <div class="w-full md:w-1/2 items-center">
            <img src="/images/me_pfp.jpg" alt="Me!"
                class="mx-auto object-cover w-full max-w-[300px] h-100 md:w-[340px] md:h-[340px] lg:w-[550px]
                lg:h-[450px] rounded-lg">
        </div>
    </div>

    {% include "components/ui/divider.html.twig" %}

    <div class="flex flex-col gap-10 md:gap-20 w-full items-center justify-center px-10">
        <p class="text-text text-lg text-center">
            I'm Kyle, a full stack web developer who helps small to medium-sized businesses turn messy processes into
            smooth systems. <i class="text-primary">I don't just build websites, I create tools that solve problems.</i> Whether that's cutting
            down on wasted admin time, improving your online presence, or making it easier for customers to find and
            trust you, my goal is simple: make technology work for your business, not the other way around!
        </p>

        {% include "components/ui/glass-button.html.twig" with {
            'text' : "More About Me",
            'href' : '/about',
        } %}
    </div>

    {% include "components/ui/divider.html.twig" %}

    <div class="flex flex-col gap-10 md:gap-20 w-full items-center justify-center px-10">
        <p class="text-primary font-black text-2xl">Services</p>
    </div>
{% endblock %}