<div class="bg-glass p-10 flex flex-col">
    <div class="flex items-center justify-start gap-4">
        <img src="images/icons/google_workspace_logo.png" class="h-12 w-12" alt="Google Workspace Logo" />
    </div>
</div>